
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
//   background-color: rgb(46,44,44);
  background-color: rgb(167, 169, 172);
  color: white;
  text-align: center;
  padding: 5px 5px;
  justify-content: center;
  // display: flex;
  bottom: 0;
}


